<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory><!-- name="" -->
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.xassword"></property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/universities</property>
  <property name="hibernate.connection.username">root</property>
  <property name="connection.datasource">java:/MySQL57</property>
  <property name="session_factory_name">HibernateSessionFactory</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <mapping resource="ORMclasses/university/UniversityORM.hbm.xml" />
  <mapping resource="ORMclasses/university/SemesterORM.hbm.xml" />
  <mapping resource="ORMclasses/university/CourseORM.hbm.xml" />
  <mapping resource="ORMclasses/university/StudentCoursesORM.hbm.xml" />
  <mapping resource="ORMclasses/university/MajorORM.hbm.xml" />
  <mapping resource="ORMclasses/university/StudentMajorsORM.hbm.xml" />
  <mapping resource="ORMclasses/university/CountryORM.hbm.xml" />
  <mapping resource="ORMclasses/university/StateORM.hbm.xml" />
  <mapping resource="ORMclasses/university/CityORM.hbm.xml" />
  <mapping resource="ORMclasses/university/StudentORM.hbm.xml" />
  <mapping resource="ORMclasses/university/AddressORM.hbm.xml" />
  <mapping resource="ORMclasses/university/AddressTypeORM.hbm.xml" />
  <mapping resource="ORMclasses/university/DepartmentORM.hbm.xml" />
  <mapping resource="ORMclasses/university/GradeTypeORM.hbm.xml" />
  <mapping resource="ORMclasses/university/CourseGradingORM.hbm.xml" />
  <mapping resource="ORMclasses/university/BinaryFieldORM.hbm.xml" />
  <!-- <mapping resource="ORMclasses/university/GradeORM.hbm.xml" /> -->
 </session-factory>
 
</hibernate-configuration>
